<div id ="content">
</div>
<div id="content">
  <div class="container"> 
    <div class="block services">
      <ul class="thumbnails">
        <li class="span12">
            <h1>アプリのIDの調べ方</h1>
            <div class="block">
              <h3 class="block-title sub-title">1.まずiTunesを開き、あなたのアプリを検索しましょう</h3>
            <img src="/./screenshot1.png" width="400" height="500" /></br></br></br>
            <div class="block">
              <h3 class="block-title sub-title">2.自分のアプリのアイコン上で右クリックし、「リンクをコピー」をクリックして下さい</h3>
            <img src="/./screenshot2.png" width="800" height="1000" /></br></br></br>
            <div class="block">
              <h3 class="block-title sub-title">3.適当な場所で右クリックし、「貼り付け」を選択してアプリのURLを表示させて下さい</h3>
            下図の赤線部分にあたる9桁の数字があなたのアプリのIDです。</br>
            <img src="/./screenshot3.png" width="800" height="1000" />
        </li>
      </ul>
    </div>
  </div>
</div>