<div id="highlighted">
    <div class="container">
        <div class="row-fluid header">
            <h2 class="page-title"><span>ID入力</span> <small>アプリのSEOを始めよう</small></h2>
        </div>
    </div>
</div>

<div id="content">
	<div class="container"> 

		<div class="alert alert-info">
			PC版のAppStoreにおける検索ランキングを表示しており、iPhone版のAppStoreとは検索結果が微妙に異なる場合があるのでご注意ください。<br />
			極端な違いがある訳ではないので、５０位以下やランク外のキーワードを外すような形でご利用ください。
		</div>

    <div class="block services">
      <ul class="thumbnails">
        <li class="span12">
        <div class="block">
              <h3 class="block-title sub-title">アプリのIDを入力しよう</h3>
        SearchRankSEO for AppStoreはあなたのアプリをiTunesで検索したとき何位に表示されるかをキーワード別に調べることができます。
    </br>
    まずはあなたのアプリのIDを入力して下さい！
    </br></br>
    <form action="/ranking/information" method="get">
    <p><input type="text" name="id" class="input-medium search-query" placeholder="IDを入力..." size="20" maxlength="20" value=""><input type="submit" class="btn btn-primary" value="決定">
    <% if @result == 0 %>
    <font size="3" color="#ff0000">このアプリ（ID:<%= @id %>）は見つけられませんでした</font>
    <% end %>
    <% if @id == "" %>
    <font size="3" color="#ff0000">IDを入力して下さい</font>
    <% elsif /^[0-9]{9}?$/ !~ @id.to_s %>
    <font size="3" color="#ff0000">IDを入力して下さい</font>
    <% end %>
    </br>
    </br>
    アプリのIDの調べ方は<a href="/./appid">こちら</a>
    </p>
    </br></br>
    <div class="block">
              <h3 class="block-title sub-title">このアプリでわかること</h3>
    このアプリはiTunesにおいて、あるキーワードで検索したときに自分のアプリが何位に表示されるのかが以下のようにわかります！</br>
    <img src="/./screenshot5.png" width="800" height="1000" /></br>
    </br></br></br></br></br></br>
        </li>
      </ul>
    </div>
  </div>
</div>
