<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>SearchRankSEO for AppStore</title>
    <link href="/enkel1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/enkel1.3/css/responsive.min.css" rel="stylesheet">
    <link href="/enkel1.3/css/animate.css" rel="stylesheet">
    <link href="/enkel1.3/css/flexslider.css" rel="stylesheet">
    <link href="/enkel1.3/css/custom-style.css" rel="stylesheet">
    <link href="/enkel1.3/css/theme-style.css" rel="stylesheet">
  </head>
  <body class="has-navbar-fixed-top page-index">
  <div id="navigation" class="wrapper">
    <div class="navbar navbar-fixed-top" id="top">
        <div class="navbar-inner">
            <div class="inner">
                <div class="container"> <a class="brand" href="/./">
                    <h1>SearchRankSEO for AppStore</h1>
                    <span>あなたのアプリの検索順位を簡単に知ろう</span> </a>
                    <div class="nav-collapse collapse">
                    <ul class="nav pull-right" id="main-menu">
                    <li class="dropdown"><a href="/./howtouse">このサイトの使い方</a></li>
                </div>
            </div>
        </div>
    </div>
  </div>
  
<%== yield %>

<!-- FOOTER -->
<footer id="footer">
  <div class="inner">
    <div class="container">
      <div class="row"> 
        <!--@todo: replace with company copyright details-->
          <div class="span6">
            <p> Copyright 2013 &copy; <a href="http://www.actcat.co.jp">actcat, Inc.</a></p>
          </div>
          <div class="span3">
          </div>
          <div class="span1">
            <p><a href="/./tos">利用規約</a></p>
          </div>
          <div class="span2">
            <p><a href="/./privacy">プライバシーポリシー</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

  <script src="/enkel1.3/js/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/enkel1.3/js/bootstrap-affix.js"></script>
    <script src="/enkel1.3/js/bootstrap-alert.js"></script>
    <script src="/enkel1.3/js/bootstrap-button.js"></script>
    <script src="/enkel1.3/js/bootstrap-carousel.js"></script>
    <script src="/enkel1.3/js/bootstrap-collapse.js"></script>
    <script src="/enkel1.3/js/bootstrap-dropdown.js"></script>
    <script src="/enkel1.3/js/bootstrap-modal.js"></script>
    <script src="/enkel1.3/js/bootstrap-popover.js"></script>
    <script src="/enkel1.3/js/bootstrap-scrollspy.js"></script>
    <script src="/enkel1.3/js/bootstrap-tab.js"></script>
    <script src="/enkel1.3/js/bootstrap-tooltip.js"></script>
    <script src="/enkel1.3/js/bootstrap-transition.js"></script>
    <script src="/enkel1.3/js/bootstrap-typeahead.js"></script>
    <script src="/enkel1.3/js/html5.js"></script>
    <script src="/enkel1.3/js/jquery.flexslider-min.js"></script>
    <script src="/enkel1.3/js/jquery.quicksand.js"></script>
    <script src="/enkel1.3/js/script.js"></script>
  </body>
</html>